<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유리병편지</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'write.css' %}">
</head>
<body>
    <div>
    <h1>Message in a Bottle</h1>
    </div>
    <img id="letter" src="{%static '편지지 white.png'%}" alt="편지지">
    <div>
    </div>
    <form action="{%url 'create'%}" method="post">
        {%csrf_token%}
        <p class="p_Lcontents">
            <textarea class="title" name="title" id="" cols="10" rows="10" placeholder="제목 입력해라ㅋㅋ"></textarea>
            <textarea class="body" name="body" id="" cols="20" rows="10" placeholder="편지 입력해라ㅋㅋ"></textarea>
        </p>
        <br>
        <p class="p_submit">
        <input class="Submit" type="submit" value="Send">
        </p>
    </form>
    <a href="{%url 'home'%}">
        <img class="xxx" src="{%static 'free-icon-x-symbol-75519.png'%}" alt="">
    </a>
</body>
</html>
